.navbar-white {
    background-color: #3c8dbc;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.7);
}

.nav-sidebar .nav-header:not(:first-of-type) {
    padding: .5rem;
}

a {
    color: #3c8cbc;
}
card card-primary card-outline card-outline-tabs
.card-primary.card-outline-tabs>.card-header a.active {
    border-top: 3px solid #3c8cbc;
}

.card-primary.card-outline {
    border-top-color: #3c8cbc;
}

.card-primary.card-outline-tabs>.card-header a.active {
    border-top: 3px solid #3c8cbc;
}

a:hover {
    color: #72afd2;
}

/*.nav-compact .nav-header, .nav-compact .nav-link {*/
/*    padding: .5rem;*/
/*}*/

/*[class*=sidebar-dark-] .nav-header {*/
/*    background: #272727;*/
/*    color: #9ea2a9;*/
/*}*/

/*.nav-compact {*/
/*    margin: -.25rem -.5rem 0;*/
/*}*/

/*******************************
    Dropdown
 ******************************/

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #3c8dbc;
}

/*******************************
    Buttons
 ******************************/

.btn-link {
    font-weight: 400;
    color: #3c8dbc;
}

.btn-link:hover {
    color: #204d74;
}

.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
}

.btn-primary:hover {
    background-color: #367fa9;
    border-color: #204d74;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #367fa9;
    border-color: #204d74;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #367fa9;
    border-color: #204d74;
}

.btn-success {
    background-color: #00a65a;
    /*border-color: #008d4c;*/
}

.btn-success:hover {
    background-color: #008d4c;
    border-color: #255625;
}

.btn-success.focus, .btn-success:focus {
    background-color: #008d4c;
    /*border-color: #255625;*/
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    background-color: #008d4c;
    /*border-color: #255625;*/
}




.thumbnail {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: border 0.2s ease-in-out;
    display: inline-block;
}

/*******************************
    Tabs
 ******************************/

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #444;
}

/*.card.card-outline-tabs .card-header a:hover {*/
/*    color: #999;*/
/*}*/

/*******************************
    Components - Select2
 ******************************/

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border-color: #367fa9;
    color: #fff;
    padding: 0 10px;
    margin-top: .31rem;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: #367fa9;
    color: #fff;
}