.nav-sidebar>.nav-item .nav-icon.fa, .nav-sidebar>.nav-item .nav-icon.fab, .nav-sidebar>.nav-item .nav-icon.fad, .nav-sidebar>.nav-item .nav-icon.fal, .nav-sidebar>.nav-item .nav-icon.far, .nav-sidebar>.nav-item .nav-icon.fas, .nav-sidebar>.nav-item .nav-icon.ion, .nav-sidebar>.nav-item .nav-icon.svg-inline--fa {
    font-size: 0.9rem;
}
.form-control {
    padding: 7px 12px;
    font-size: .875rem!important;
    height: calc(1.9rem + 2px);
}
.table td, .table th {
    padding: .45rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.text-sm .btn {
    font-size: .875rem!important;
    padding: 4px 12px !important;
}
a.asc:after, a.desc:after {
    bottom: 7px;
}

.navbar-white {
    background-color: #3c8dbc;
    color: #1f2d3d;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, .7);
}
.card-gray.card-outline {
    border-top: 3px solid #d2d6de;
}
.card-body {
    padding: 0.9rem;
}
a {
    color: #3c8dbc;
    text-decoration: none;
    background-color: transparent;
}
.card-primary.card-outline-tabs>.card-header a.active {
    border-top: 3px solid #3c8dbc;
}
.table.table-head-fixed thead tr:nth-child(1) th {
    top: -1px;
}
.position-left {
    margin-right: 5px;
}
/*components*/

.select2-container--default .select2-dropdown .select2-search__field, .select2-container--default .select2-search--inline .select2-search__field {
    border-color: transparent !important;
}